# Api Key
OPENAI_API_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_DIRECTIONS_API_KEY=
GOOGLE_PLACE_DETAILS_API_KEY=

# Backend OPEN Port
PORT=

# Database Configuration
DATABASE_URL=

#JWT
JWT_SECRET=