# Api Key
OPENAI_API_KEY=YOUR_OPENAI_KEY
GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_KEY
GOOGLE_DIRECTIONS_API_KEY=YOUR_GOOGLE_PLACES_KEY

# Backend OPEN Port
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=travel_planner
JWT_SECRET=your-jwt-secret-change-me
