# Api Key
OPENAI_API_KEY=
GOOGLE_PLACES_API_KEY=
GOOGLE_DIRECTIONS_API_KEY=
GOOGLE_PLACE_DETAILS_API_KEY=

# Backend OPEN Port
PORT=

# Database Configuration
DATABASE_URL=

#JWT
JWT_SECRET=

# Password reset email
FRONTEND_RESET_PASSWORD_URL=
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=